.witness-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: -18.875rem 0 0 10.625rem;
  margin-bottom: 2rem;
  
}



.witness-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: calc(100% - 3rem);
  /* line-height: 2; */
  letter-spacing: 0px;
  padding-right: 0.5rem;
}

.witness-text1 {
  margin-top: 0.938rem;
  font-size: 0.938rem;
  font-weight: normal;
  width: 100%;
}

.witness-text2 {
  margin-top: 0.7rem;
  width: 100%;
  font-size: 0.938rem;
  font-weight: normal;
  line-height: 1.5;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video{
  margin-left: -1.25rem;
  margin-top:  0.938rem;
}




.video-caption {
  margin: 0.3rem 0 0;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  align-self: flex-end;
  margin-right: 35.5px;
}

.video-caption2 {
  margin: 0;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  align-self: flex-end;
  margin-right: 35.5px;
  
}

@media (max-width: 768px) {

  body {
    background-color: #DBDBDBE2;
  }
  .witness-container {
    margin: 0;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
    
  }

  .witness-texts {
    padding-right: 0;
    max-width: 100%;
  }

  .video {
    margin-left: 0;
    width: 100%;
    height: 56.25vw; /* 16:9 aspect ratio */
  }

  .video-caption {
    font-size: 14px;
    margin-right: 0;
  }

  .video-caption2 {
    font-size: 14px;
    margin-right: 0;
  }
  
  .title {
    font-size: 26px; /* set font size for title on mobile */
    margin-left: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px; /* add margin bottom for spacing on mobile */
  }

 
  

}
