body {
    background-color: #dbdbdbe2;
  }
  
  .home-container {
    color: #646060;
    margin-top: 128px;
    margin-left: 136px;
    letter-spacing: 0px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .info-links {
    color: #afafaf;
    margin-top: 8px;
    margin-left: 0;
    margin-top: 0;
    
    
  }
  
  .title {
    color: #646060;
    font-size: 26px;
    margin-left: 38px;
    margin-bottom: 0;
  }
  
  li {
    font-size: 20px;
    letter-spacing: 0px;
    padding-top: 3px;
    
  }

  @media screen and (max-width: 768px) {
    .home-container {
      margin-top: 64px; 
      margin-left: 16px; 
      margin-bottom: 0;
    }
  
    .title {
      font-size: 20px; 
      margin-left: 16px; 
      margin-bottom: 0;
      margin-left: 38px;
    }
  
    li {
      font-size: 16px; 
      padding-top: 0; 
      padding-top: 3px;
    }
  }
  