body {
  background-color: #DBDBDBE2;
  overflow-x: hidden;
  
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px; /* Adds spacing between child elements */
  padding: 48px 0 0 56px; /* Sets padding instead of margin */
  max-width: 100%;
}

.info-links {
  color: #afafaf;
  margin-top: 8px;
  margin-left: 0;
  margin-top: 0;
}

.info-link{
  color: #afafaf;
  text-decoration: none;
  display: inline-block; /* Set display to inline-block to align links horizontally */
  vertical-align: top; /* Align links from the top */
  margin-right: 10px; /* Add margin between links */
  white-space: nowrap; /* Prevent links from wrapping to next line */
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: normal;
}

.title-link {
  color: #646060;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}




.project-link{
  color: #646060;
  text-decoration: none;
  display: inline-block; 
  vertical-align: top;  
  margin-right: 10px; 
  white-space: nowrap; 
  text-align: center;
  
}

.project-links{
  text-align: end;
}



li {
  font-size: 15px;
  letter-spacing: 0px;
  padding-top: 1.5px;
}

.menu-button {
  display: none; /* hide menu button by default on desktop */
}

@media screen and (max-width: 768px) {
  body {
    background-color: #DBDBDBE2;
  }

  .home-container {
    padding: 6px 0 0 4px;
  }

  .title {
    font-size: 26px; /* set font size for title on mobile */
    margin-left: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px; /* add margin bottom for spacing on mobile */
  }

  .title + ul {
    margin-top: 0; /* Add margin top to align the links with the title */
    padding-left: 0; /* Remove padding left from the ul element */
    list-style: none; /* Remove default list style */
    margin-left: 6px;
    margin-top: 45px;
  }

  li {
    font-size: 18px; /* set font size for li on mobile */
    padding-top: 3px;
    align-self: flex-start;
  }

  .menu-button {
    display: block;
    position: fixed;
    top: 67px;
    font-weight: normal;
    

    font-family: 'M PLUS 1', sans-serif;
    z-index: 9999;
    cursor: pointer;
    background-color: transparent; /* Set background color to transparent */
    border: none; /* Remove border */
    color: #646060; /* Set text color to match links */
    font-size: 20px; /* Set font size to match links */
    text-decoration: none; /* Remove underline */
    
    cursor: pointer;
  }

  .info-links {
    display: none; /* hide info-links by default on mobile */
  }

  .info-links.show {
    display: block; /* show info-links when menu button is clicked on mobile */
  }

  .project-links {
    display: none; /* hide project links by default on mobile */
    text-align: start;
  }

  .project-links.show {
    display: block; /* show project links when menu button is clicked on mobile */
    margin-top: 0; /* Add margin top to align the project links with the title */
    padding-left: 0; /* Remove padding left from the ul element */
    list-style: none; /* Remove default list style */
    margin-left: 6px;
  }
}