

.steps-container {
    position: relative;
    max-width: 100%;
    margin: -19.1rem 0 0 10.313rem;
    margin-bottom: 45px;
}

.caption-container {
    position: absolute;
    bottom: -2.1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.steps-caption1 {
    font-size: 0.75rem;
    font-weight: normal;
    padding-left: 2.2rem;
    color: #646060;

    
    
}

.steps-caption2 {
    font-size: 0.75rem;
    font-weight: normal;
    padding-right: 2.2rem;
    color: #646060;
    
    
}

.music-link{
    text-decoration: none;
    color: #646060;
}




    @media (max-width: 768px) {

        body {
        background-color: #DBDBDBE2;
        margin-bottom: 1.875rem;
        }
        .steps-container {
        width: 100%;
        margin: 0;
        margin-bottom: 3.125rem;
        margin-left: -1.688rem;
        margin-top: 0.625rem;
        
        }
    
    
        .video-steps {
            margin-left: 0;
            width: 100% !important;
            
        }

        .caption-container {
            position: absolute;
            bottom: -1.563rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            
            
        }
    
        .steps-caption1 {
            font-size: 0.563rem;
            font-weight: normal;
            padding-left: 2.188rem;
            color: #646060;
            
        }
    
        .steps-caption2 {
            font-size: 0.563rem;
            font-weight: normal;
            padding-right: 2.188rem;
            color: #646060;
        }
        
        .music-link{
            text-decoration: none;
            color: #646060;
        }
    }

    @media only screen and (min-width: 1920px) {
        .steps-caption1 {
            font-size: 0.563rem;
            font-weight: normal;
            padding-left: 3rem;
            color: #646060;
            
        }
    
        .steps-caption2 {
            font-size: 0.563rem;
            font-weight: normal;
            padding-right: 3rem;
            color: #646060;
        }
      }

    