

.steps-container {
    position: relative;
    max-width: 100%;
    margin: -285px 0 0 165px;
    margin-bottom: 45px;
}

.caption-container {
    position: absolute;
    bottom: -35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.steps-caption1 {
    font-size: 12px;
    font-weight: normal;
    padding-left: 35px;
    color: #646060;

    
    
}

.steps-caption2 {
    font-size: 12px;
    font-weight: normal;
    padding-right: 36px;
    color: #646060;
    
    
}

.music-link{
    text-decoration: none;
    color: #646060;
}




    @media (max-width: 768px) {

        body {
        background-color: #DBDBDBE2;
        margin-bottom: 30px;
        }
        .steps-container {
        width: 100%;
        margin: 0;
        margin-bottom: 50px;
        margin-left: -27px;
        margin-top: 10px;
        
        }
    
    
        .video-steps {
            margin-left: 0;
            width: 100% !important;
            
        }

        .caption-container {
            position: absolute;
            bottom: -25px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            
            
        }
    
        .steps-caption1 {
            font-size: 9px;
            font-weight: normal;
            padding-left: 35px;
            color: #646060;
            
        }
    
        .steps-caption2 {
            font-size: 9px;
            font-weight: normal;
            padding-right: 35px;
            color: #646060;
        }
        
        .music-link{
            text-decoration: none;
            color: #646060;
        }
    }