.insasiveModification-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  min-height: 100vh;
  margin-right: 20px;
  padding-bottom: 40px; 
}

.insasiveModification-header {
  font-size: 1.25rem;
  width: 40%;
  color: #484848;
  margin-top: -18.1rem;
  margin-left: 13rem;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-left: 2rem;
}

.img-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img1 {
  position: absolute;
  top: -8px;
  left: 10.5rem;
  width: 70%;
  height: auto;
  z-index: 0;
}

.video-text{
  font-size: 1.25rem;
  color: #484848;
  position: absolute;
  top: 20%;
  left: 71%;
  z-index: 1;
  text-align: end;
  width: 50%;
}

.insasiveModification-video {
  position: absolute;
  top: 59%;
  left: 93%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding-right: 1rem;
}

.card-images{
  position: relative;
  width: 40%;
  top: 30rem;
  margin-top: 7.5rem;
  /* margin-left: -4rem; */
  left: 15%;
  margin-right: auto;
  margin-bottom: 2rem;
  z-index: 1;
  padding-bottom: 50px;
}

.card-text {
  position: absolute;
  top: 120.5%;
  left: 58%;
  color: #484848;
  right: 0;
  margin: 0 auto;
  text-align: start;
  z-index: 1;
}

.line {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.name {
  margin-right: 1rem;
}

.category {
  margin-left: 0;
  line-height: 1.5;
  margin-bottom: 1rem;
}