body {
  margin: 0;
  font-family: Helvetica Neue, Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Helvetica Neue, Regular;
}

* {
  box-sizing: border-box;
}

li{
  list-style: none;
  text-decoration: none;
}
